.jumbo-hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  /* padding: 3em; */
  min-height: 21em;
  background-position: center 25%;
  background-repeat: no-repeat;
}
.jumbo-hero .jumbo-hero__inner {
  width: 100%;
  position: relative;
  z-index: 1;
}